@{
    ViewBag.Title = "Triggers Old Time Saloon";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h3>
                    <p>Welcome to Trigger’s, the home of the world famous Teriyaki Chicken and Cheddar and the one size fits all size 8 Rockport.</p>
                    <p>Founded in 2010, Trigger’s is located in America’s true heartland, Loveland Ohio.</p>
                    <p>Stepping into Trigger's is like stepping back into a time where a man was measured by the distance he could spit. We here at Trigger’s are dedicated to putting the spit back into cuisine.</p>
                    <p>So what are ya'll waitin' for&hellip; &nbsp; &nbsp;Saddle up and hit the trail&hellip;</P>
                    <p>You won't regret the ride to Trigger’s!</p>
                </h3>
            </hgroup>
        </div>
    </section>
}
